/* Global animations */

.no-moz [id^="cloud"] { animation: glideLeft 90s linear infinite; }
.no-moz [id^="fog-cloud"] { animation: fogGlideLeft 50s linear infinite; }

.no-moz [id*="car-group"] { animation: rumble 0.5s infinite; }
.no-moz #car-in-front { animation: distantRumble 0.5s infinite; }
.no-moz #car { animation: rumble 0.5s infinite; }

$carWheels: #{"[id*='wheels'] [id*='wheel']"};

.no-moz #{$carWheels} {
  animation: turningWheel 0.5s linear infinite;
  transform-origin: 50% 50%;
}

/* =============
| KEYFRAMES
*/

@keyframes dissipateCondensate {
  $min: 0.5; $max: 1;
  $d: $max - $min;

  0% { opacity: $min; }
  15% { opacity: $max - ($d * 0.3); }
  30% { opacity: $max - ($d * 0.7); }
  50% { opacity: $max; }
  65% { opacity: $max - ($d * 0.2); }
  85% { opacity: $max - ($d * 0.9); }
  100% { opacity: $min; }
}

@keyframes smallInLargeOut {
  0% {
    opacity: 0;
    transform: scale(0.8,0.8);
  }
  30% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1,1);
  }
}

@keyframes popup {
  0% {
    opacity: 0;
    transform: scale(0,0);
  }
  78% {
    opacity: 0;
    transform: scale(0,0);
  }
  80% {
    transform: scale(2.5,2.5);
  }
  100% {
    opacity: 0.9;
    transform: scale(1.5,1.5);
  }
}

@keyframes pulse {
  0% { transform: scale(1,1)}
  50% { transform: scale(1.2,1.2)}
  100% { transform: scale(1,1)}
}
@keyframes pulseLarge {
  0% { transform: scale(1.5,1.5)}
  50% { transform: scale(1.7,1.7)}
  100% { transform: scale(1.5,1.5)}
}

@keyframes tip {
  from { opacity: 0; max-width: 0%; max-height: 0%; }
  to { opacity: 1; max-width: 50%; max-height: 55%; }
}

@keyframes appear {
  from { opacity: 0; }
  to   { opacity: 1; }
}

// Planning lights
@keyframes onOff1 {
  0% { opacity: 1; }
  5% { opacity: 1; }
  50% { opacity: 1; }
  55% { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes onOff2 {
  0% { opacity: 1; }
  5% { opacity: 0; }
  50% { opacity: 0; }
  55% { opacity: 1; }
  100% { opacity: 1; }
}

// Garage
@keyframes closeGarageDoor {
  from { transform: scaleY(0.1); }
  to { transform: scaleY(1); }
}
@keyframes openGarageDoor {
  from { transform: scaleY(1); }
  to { transform: scaleY(0.1); }
}

// At home
@keyframes whackyWavingEcstaticArmFlailingBeebMan {
  $left-limit: 45deg;
  $right-limit: -10deg;
  0% { transform: rotate($right-limit) }
  50% { transform: rotate($left-limit) }
  100% { transform: rotate($right-limit) }
}

// Car bits
@keyframes turningWheel {
  from { transform: rotate(0deg) }
  to { transform: rotate(359deg) }
}

@keyframes cockpitWindscreenWipers {
  $left-limit: -35deg;
  $right-limit: 80deg;
  0% { transform: rotate($right-limit) }
  50% { transform: rotate($left-limit) }
  100% { transform: rotate($right-limit) }
}

@keyframes gpsScroll {
  from { transform: translateY(0)}
  to { transform: translateY(50%)}
}

// Weather
@keyframes glideLeft {
  0%  {
    opacity: 1;
    transform: translateX(0%)
  }
  45% { opacity: 0; }
  50% { transform: translateX(-400%)}
  50.1% { transform: translateX(400%) }
  55% { opacity: 0; }
  100%    {
    opacity: 1;
    transform: translateX(0%)
  }
}
@keyframes fogGlideLeft {
  0%  {
    opacity: 0.1;
    transform: translateX(0%)
  }
  45% { opacity: 0; }
  50% { transform: translateX(-400%)}
  50.1% { transform: translateX(400%) }
  55% { opacity: 0; }
  100%    {
    opacity: 0.1;
    transform: translateX(0%)
  }
}

// Car driving
@keyframes rumble {
    0% {  transform: translate(0,0) rotate(0deg); }
  10% {  transform: translate(0px, 0px) rotate(-0.05deg); }
  20% {  transform: translate(0px, -1px) rotate(0.05deg); }
  30% {  transform: translate(0px, 1px) rotate(0deg); }
  40% {  transform: translate(0px, -1px) rotate(0.05deg); }
  50% {  transform: translate(0px, 1px) rotate(-0.05deg); }
  60% {  transform: translate(0px, 1px) rotate(0deg); }
  70% {  transform: translate(0px, 1px) rotate(-0.05deg); }
  80% {  transform: translate(0px, -1px) rotate(0.05deg); }
  90% {  transform: translate(0px, 1px) rotate(0deg); }
  100% {  transform: translate(0,0) rotate(0deg); }
}

@keyframes farRumble {
    0% {  transform: translate(0,0) rotate(0deg); }
  10% {  transform: translate(0px, 0px) rotate(-0.025deg); }
  20% {  transform: translate(0px, -0.5px) rotate(0.025deg); }
  30% {  transform: translate(0px, 0.5px) rotate(0deg); }
  40% {  transform: translate(0px, -0.5px) rotate(0.025deg); }
  50% {  transform: translate(0px, 0.5px) rotate(-0.025deg); }
  60% {  transform: translate(0px, 0.5px) rotate(0deg); }
  70% {  transform: translate(0px, 0.5px) rotate(-0.025deg); }
  80% {  transform: translate(0px, -0.5px) rotate(0.025deg); }
  90% {  transform: translate(0px, 0.5px) rotate(0deg); }
  100% {  transform: translate(0,0) rotate(0deg); }
}

@keyframes distantRumble {
    0% {  transform: translate(0,0) rotate(0deg); }
  10% {  transform: translate(0px, 0px) rotate(-0.0125deg); }
  20% {  transform: translate(0px, -0.25px) rotate(0.0125deg); }
  30% {  transform: translate(0px, 0.25px) rotate(0deg); }
  40% {  transform: translate(0px, -0.25px) rotate(0.0125deg); }
  50% {  transform: translate(0px, 0.25px) rotate(-0.0125deg); }
  60% {  transform: translate(0px, 0.25px) rotate(0deg); }
  70% {  transform: translate(0px, 0.25px) rotate(-0.0125deg); }
  80% {  transform: translate(0px, -0.25px) rotate(0.0125deg); }
  90% {  transform: translate(0px, 0.25px) rotate(0deg); }
  100% {  transform: translate(0,0) rotate(0deg); }
}
