// ---------- ==========================================
//  PAGE ELEMENTS - color, embellishment, styling  */

//---------------------
//  color config
//

// color scheme
$brand-color: 		  	#e54911;
$text-color:            #333;
$background-color:      #E5E5E5;

$complement-color: 	    adjust_hue($brand-color, 180);
$secondary-color: 	    adjust_hue($brand-color, 120);
$tertiary-color: 	  	  adjust_hue($brand-color, -120);

// For type
$link-color:           $brand-color;
$link-color-visited:   $link-color;
$link-color-hover:     lighten($link-color,10%);
$link-color-active:    lighten($link-color,20%);

/* ================== GLOBAL SINGULAR */

html, body {
    background: $background-color;
    color: $text-color;
}

/* ================== GLOBAL ATOMIC */

::selection      { color: $background-color;  background: $brand-color; }

* {
  transition: 0.25s all ease-in-out; // # ??? swift-out material design
  color: $text-color;
}

a {
  color: $link-color;
  text-decoration: none;
  font-weight: 600;

  &:hover     { color: $link-color-hover;   border-bottom: 2px solid $link-color; }
  &:active    { color: $link-color-active;  border-bottom: 2px solid $link-color; }
  &:visited   { color: $link-color-visited; }
}

/* =================== Page specifics */

