/* ---------- ==========================================
    Javascript interaction classes
*/

#LiveCSSEditor-panel * {
  text-transform: none;
  color: #555;
  background: #DDD;
  text-align: left;
  font-family: monospace;
  font-size: 11px;
}

.state__inner {
  transition: all 0.5s cubic-bezier(.92,.23,.4,1.10);

  &.scrollDown {
    transform: translateY(-25%);
  }
}

&.scrollDown {
  transform: translateY(-25%);
}


// Override foundation
.ng-hide {
  display: none !important;
}

.moz #lights-on { display: none; }
