/* ---------- ==========================================
   GLOBAL SCAFFOLD

   # ??? Consider integrating the better suggestions from http://www.google.com/design/spec/layout/metrics-and-keylines.html#metrics-and-keylines-ratio-keylines
*/

$app-frame: #{"10px solid white"};
$app-frame-big: #{"20px solid white"};

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: #{$app-frame};
  @media #{$medium-up} {
    border: #{$app-frame-big};
  }
}

body {
  overflow: hidden;
}

#wrapper {
    height: 100% !important;
}
  #document-head {
    height: 11.5% !important;
    display: block;
  }

#wrapper {
  > main {
    height: 88.5% !important;
    overflow: hidden;
    position: relative;
    display: block;
  }
}

#document-nav {
    overflow: hidden;
    background: $background-color;
    height: 100%;

    a { height: 100%; }
}

#document-foot {
    &, * {
        opacity: 0.5;
        font-size: 95%;
    }
}
