/* ---------------------------------------
|
|	Pages.less - for specific page styling.
|
|-----------------------------------------
|
| [1] Start
|
*/

#ui-view-container {
    background: lighten($background-color,20%);
    position: relative;
    height: 100%;
}

.state {
    overflow: hidden;
    width: auto;
    display: block;
    height: 100%;

    &__inner {
        margin: 0;
        width: 100%;
        height: 100%;

        .canvas {
            overflow: hidden;
            display: block;

            position: absolute;
            left: 50%;
            top: 0;
            transform: translate(-50%,-15%);

            width: 100%;
            max-width: none;
            max-height: none;

            @media #{$medium-up} {
              width: 150%;
              transform: translate(-50%,-50%);
              top: 50%;

              .ie9 &.backup.pops { height: 150%; }
            }
            @media #{$large-up} { width: 125% ;
              .ie9 &.backup.pops { height: 205%; }
            }
            @media #{$xlarge-up} { width: 115%;
              // .ie9 &.backup.pops { height: 125%; }
            }

            &.backup.pops {
              // border: 3px double cyan;
              // outline: 3px double red;
            }
        }
    }

    /* =======
    | state SPECIFIC ANIMS
    */
        &.start {
            background: white;
            text-align: center;
            padding: 0px 30px;

            .splash-logo {
                width: 40%;
                @media #{$medium-up} { width: 66%; }
                @media #{$large-up} { width: 30%; }
            }

            h1 {
                padding: 0px;
                margin: 0 auto ;
                font-weight: lighter;

                width: 100%;
                font-size: 40px;
                line-height: 0.95em;

                @media #{$medium-up} {
                  width: 70%;
                  font-size: 70px;
                }

                @media #{$large-up} {
                  width: 60%;
                  font-size: 70px;
                }

                @media #{$portrait} {
                  width: 90%;
                }
            }
        }

    // =====

        &.home {
          .canvas {
              width: 175%;
              @media #{$medium-up} {
                width: 150%;
              }
          }
        }

        &.packing {
          .state__title { display: none; }
        }

    // =====

        &.planning {
          .no-moz #planning > #garage-door {
            transform: scaleY(0.1);
            transform-origin: 0% 0%;
            animation: openGarageDoor 3s linear;
          }
          .no-moz & #dipped-lights {
            animation: onOff2 6s linear infinite;
          }
          .no-moz & #lights-on {
            animation: onOff1 6s linear infinite;
          }
        }

    // =====

        &.rain {
          .canvas {
            margin-top: -3%;
            @media #{$medium-up} {
              margin-top: -5%;
            }
          }
        }

        &.cold {
          .no-moz #cold > #garage-door {
            transform: scaleY(1);
            transform-origin: 0% 0%;
            animation: closeGarageDoor 3s linear;
          }
        }

        &.fog {
          .canvas.tinylol {
            width: 225%;
            @media #{$medium-up} { width: 200%; }
            @media #{$large-up} { width: 175%; }
          }
          #atmosphere { animation: dissipateCondensate 20s linear infinite; }
        }

        &.snow, &.rain {
          .canvas {
            // width: 120%;
            @media #{$medium-up} {  width: 120%; }
            @media #{$xlarge-up} {  width: 100%; }
          }
        }

    // =====
}

.no-moz {
  .rain {
    #left-wiper, #right-wiper {
      animation: cockpitWindscreenWipers 2.2s infinite;
      transform-origin: 100% 100%;
    }
  }

  #map__roads {
    animation: gpsScroll 6s linear infinite;
  }

  #presenter #arm {
    animation: whackyWavingEcstaticArmFlailingBeebMan 6s ease-in-out infinite;
    transform-origin: 0% 100%;
  }

  #planning, #cold {
    #{$carWheels} {
      animation-duration: 1.5s !important;
      animation-timing-function: ease-out !important;
      animation-iteration-count: 1 !important;
    }
  }
}
