/* ----
  Transitions.scss
--*/

.state {
  &.ng-enter,
  &.ng-leave      {
    position:absolute;
    top: 0px;
    left: 0px;
    right: 0px;
  }
}

/*
[pre-journey] = home / planning / cold
[PARKED] = planning / cold
[OUTSIDE] = planning / cold / rain / fog / snow / night
[EXTERIOR] = planning / cold / fog / night
[STATIC] = home / planning / cold
[COCKPIT] = rain / snow
[SINGLETON] = rain / fog / snow / night
*/

.rollInLeft {
  // animation: fadeIn 1s;
  #car-container{
    animation: driveInLeft 1.3s;
  }
}

.driveInLeft {
  animation: fadeIn 1s;
  #car-container{
    animation: driveInLeft 1.3s;
  }
}

.driveOutRight {
  animation: fadeOut 1.5s;
  #car-container{
    animation: driveOutRight 1.3s;
  }
}

// Micro transitions
@keyframes driveOutRight {
  to {
    transform: translateX(200%)
  }
}

@keyframes driveInLeft {
  from {
    transform: translateX(-200%)
  }
  to {
    transform: translateX(0) // need some sorta rocking break wobble skid
  }
}

// Top level state transitions
@keyframes smallbig {
  from { transform: scale(0,0); }
  to { transform: scale(1,1); }
}

.smallbig {
  &.state, & .state:first-child {
    animation: smallbig 0.6s cubic-bezier(.53,.16,.27,1.13);
  }
}

$transitions: 'panOutLeft' 'panInLeft' 'panOutRight' 'panInRight' 'fadeOut' 'fadeIn' 'fadeInFromRight' 'fadeInFromLeft';

@each $transition in $transitions {
  .#{$transition} {
    &.state, & .state:first-child {
      animation: $transition 2.5s #{$swift};
    }
  }
}

@keyframes panOutLeft {
  to    { opacity: 0; transform: translateX(-100%); }
}

@keyframes panOutRight {
  to    { opacity: 0; transform: translateX(100%); }
}

@keyframes panInRight {
  from  { transform:translateX(100%); }
  to    { transform: translateX(0); }
}

@keyframes panInLeft {
  from  { transform:translateX(-100%); }
  to    { transform: translateX(0); }
}

@keyframes fadeOut {
  from  { opacity: 1; }
  to    { opacity: 0; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  } to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  } to {
    transform: translateX(0);
    opacity: 1;
  }
}
