/* ---------- ==========================================
  TYPOGRAPHY
*/

$thin: 200;
$light: 300;
$normal: 400;
$medium: 600;
$bold: 800;
$black: 900;

@font-face {
    font-family: 'DIN Round';
    src: url('dinroundot-medium-webfont.eot');
    src: url('dinroundot-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('dinroundot-medium-webfont.woff2') format('woff2'),
         url('dinroundot-medium-webfont.woff') format('woff'),
         url('dinroundot-medium-webfont.ttf') format('truetype'),
         url('dinroundot-medium-webfont.svg#din_round_otmedium') format('svg');
    font-weight: $medium;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Round';
    src: url('dinroundot-light-webfont.eot');
    src: url('dinroundot-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('dinroundot-light-webfont.woff2') format('woff2'),
         url('dinroundot-light-webfont.woff') format('woff'),
         url('dinroundot-light-webfont.ttf') format('truetype'),
         url('dinroundot-light-webfont.svg#din_round_otlight') format('svg');
    font-weight: $light;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Round';
    src: url('dinroundot-webfont.eot');
    src: url('dinroundot-webfont.eot?#iefix') format('embedded-opentype'),
         url('dinroundot-webfont.woff2') format('woff2'),
         url('dinroundot-webfont.woff') format('woff'),
         url('dinroundot-webfont.ttf') format('truetype'),
         url('dinroundot-webfont.svg#dinroundotregular') format('svg');
    font-weight: $normal;
    font-style: normal;
}

.brand-font {
  font-family: 'DIN Round', 'sans-serif' !important;
  font-weight: $normal;
  font-style: normal;
}

body, input, textarea {
  @extend .brand-font;
}

* {
  word-break: keep-all;
  hyphens: none;
	-webkit-font-smoothing: antialiased;
}

#{$headings} {
  &, & * {
    @extend .brand-font;
    letter-spacing: -0.0075em;
    line-height: 1.1em;
    font-weight: bold;
  }
}

#{$headings} {
  cursor: default;
}

