// ------- POPUPS

.w100 {
  width: 100%;
}
.w50 {
  width: 50%;
}

.sharebar {
  width: 100%;
  margin-top: 5px;
  left: 0;
  z-index: 999;
  bottom: 0;
  display: table;
  table-layout: fixed;

  &__option {
    height: 50px;
    background: #55ACEE;
    text-align: center;
    display: table-cell;
    vertical-align: middle;

    &, & * { color: white !important; }
  }
}

.view-in-chrome {
  display: block;
  border: 2px solid #EAEAEA;
  padding: 0.4em 1em;
  border-radius: 4px;
  width: 20%;
  margin: 0 auto;
  min-width: 300px;

  img { width: 100% !important; }
}

.intro-intro {
  width: 100%;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
}

.cta-nav {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0.5em;
  background: $brand-color;
  border-radius: 3px;
  padding: 10px 15px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;

  &, & * { color: white; }

  &:hover { background: lighten($brand-color,10%); color: white; border: none; }

  @media #{$medium-up} { font-size: 35px; }
}

//////////////

.state__title {
  z-index: 999;
  position: absolute;
  top: 20%;
  color: white;
  text-shadow: 0px 2px 10px rgba(0,0,0,0.5);
  text-align: center;
  width: 100%;
  padding: 0 10%;
  animation: smallInLargeOut 3s ease-out;
  animation-delay: 0.5s;
  opacity: 0;
  pointer-events: none;

  font-size: 2em;

  @media #{$medium-up} {
    top: 40%;
    font-size: 6em;
  }
}

#popups > g { // (+)
  display: none;
  @media #{$medium-up} { display: block; }
  animation-delay: 0s, 1.5s;
  opacity: 1;
  transform-origin: 50% 50%;
  cursor: pointer;
}

.no-moz #popups > g  {
  animation: popup 1.375s linear, pulse 1.5s ease-in-out infinite;
}

ol {
  list-style-position: inside;
}

.small-tooltips {
  @extend .show-for-small-only;
  @extend .row;

  border-top: #{$app-frame};
  height: 60%;
  overflow: scroll;
  bottom: 0;
  position: absolute;

  .tt {
    @extend .column;
    @extend .small-12;
    padding: 10px 0px;
    border-bottom: 1px solid #EEE;
    font-size: 20px;
    color: black;
    background: white;

    .ng-animate & * {
      opacity: 0.3;
    }
  }
}

.rac-tip {
  $ractip-bg: white;
  transition: all 0.3s ease-in-out;
  animation: tip 1s;
  transform-origin: -10% 100%;

  box-sizing: border-box;
  background: $ractip-bg;
  position: absolute;
  padding: 30px 30px 30px 45px;
  box-shadow: 0px 0px 10px 2px rgba(darken($brand-color,30%),0.15);
  max-width: 50%;
  min-width: 20%;
  width: 50%;

  max-height: 55%;
  height: auto;

  * { overflow: hidden !important; }

  overflow-y: hidden;
  // &.scroll { overflow-y: auto; }

  @media #{$medium-up} { width: 45%; }
  @media #{$large-up} { width: 40%; }

  // Offset
  $xOffset: 0;

  // Arrows
  $arrow-x-offset: 10px;
  $arrow-h: 20px;

  &:after {
    position: absolute;
    content: '';
  }

  @mixin bottom {
    margin-top: -30px;
  }
  @mixin top {
    margin-top: 30px;
  }
  @mixin left {
    margin-left: 30px;
  }
  @mixin right {
    margin-left: 20px;
  }

  &.arrowTopLeft {
    @include top();
    @include left();
    transform:              translateX(0% + $xOffset) translateY(0% ) !important;
    &:after {
      top: -($arrow-h);
      left: $arrow-x-offset;
      border-bottom: $arrow-h solid $ractip-bg;
      border-left: none;
      border-right: $arrow-h solid transparent;
    }
  }
  &.arrowTopRight {
    @include top();
    @include right();
    transform:              translateX(-100%) translateY(0%) !important;
    &:after {
      top: -($arrow-h);
      right: $arrow-x-offset;
      border-bottom: $arrow-h solid $ractip-bg;
      border-right: none;
      border-left: $arrow-h solid transparent;
    }
  }
  &.arrowBottomLeft {
    @include bottom();
    @include left();
    transform:              translateX(0% - $xOffset) translateY(-100%) !important;
    &:after {
      bottom: -($arrow-h);
      left: $arrow-x-offset;
      border-top: $arrow-h solid $ractip-bg;
      border-left: none;
      border-right: $arrow-h solid transparent;
    }
  }
  &.arrowBottomRight {
    @include bottom();
    @include right();
    transform:              translateX(-100% ) translateY(-100%) !important;
    &:after {
      bottom: -($arrow-h);
      right: $arrow-x-offset;
      border-top: $arrow-h solid $ractip-bg;
      border-right: none;
      border-left: $arrow-h solid transparent;
    }
  }

  &__title {
    @extend .brand-font;
    color: $brand-color;
    display: inline;
  }
  &__closebtn {
    font-size: 25px;
    display: inline-block;
    color: #ccc;
    margin-left: -25px;
    cursor: pointer;
    &:hover { color: #bbb; }
  }
  &__content {
    @extend .brand-font;
    overflow: scroll;
  }

  &__links {
    text-align: center;
    // vertical-align: middle;

    a {
      background: #EEE;
      padding: 10px 15px;
      border-radius: 2px;
      display: inline-block;
      margin-right: 10px;
      box-sizing: border-box;
      border: 2px solid #EEE;
      // vertical-align: middle;
      color: lighten($brand-color,10%);

      b, .fa {
        color: $brand-color;
      }

      &:hover { border: none; background: #FAFAFA; border: 2px solid #EEE; }

      &, & i {
        // vertical-align: middle;
      }
    }
  }

  &--youtube {
    transform: translate(-50%,0);
    top: 0%;
    left: 50%;
    width: 90%;
    box-sizing: border-box;
    max-width: none;
    max-width: 900px;
    max-height: none;
    height: 100%;
    box-shadow: 0px 0px 100px 10px rgba(0,0,0,0.5);

    iframe {
      display: block;
      margin: 20px auto 0;
      width: 100%;
      height: 28em;
      border: none;
    }
  }
}

.splashup {
  $bg: #635b63;
  width: 100%;
  height: 100%;
  background: $bg;
  z-index: 999;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 5px solid $bg;
  overflow-y: auto;

  * {
    color: white;
    text-align: center;
    font-weight: 600;
    vertical-align: middle;
  }
  img {
    // width: 80%;
    margin-top: 5%;
    max-height: 90%;
  }
  &__closebtn {
    text-align: center;
    font-size: 100px;
  }
  &__item {
    display: block;
    float: left;
    list-style: none;
    background: #FF8236;
    height: 33.333%;
    max-height: 33.3333%;
    border: 5px solid $bg;
    padding: 10px;
    box-sizing: border-box;
    margin: 0;
    text-transform: uppercase;
    position: relative;

    width: 50%;
    @media #{$medium-up} {
      width: 20%;
    }

    &__name {
      position: absolute;
      line-height: 1em;
      bottom: 10%;
      width: 100%;
      left: 0;
      padding: 0 15px;
    }
  }
  &__title {
    font-size: 2.5em;
    text-transform: uppercase;
    background: none;
    line-height: 1em;
    padding: 0;

    .links {
      height: 50%;
      display: block;

      * { border-color: rgba(#fff,0.3); color: white !important; font-size: 14px; padding: 4% 5px; line-height: 0.9em;  }
      > a + a { margin-top: 5px; }
      > a {
        width: 100%; background: rgba(#fff,0.2);
        height: 50%;
        overflow: hidden;
        width: 100%;
        background: rgba(255, 255, 255, 0.2);
        max-height: 50%;
        vertical-align: middle;
        i { font-style: normal; }
        * { vertical-align: middle; }
      }
    }
    .closeBtn {
      height: 100%;
      @media #{$medium-up} {
        height: 50%;
      }
      display: block;
      position: relative;
      & > * {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: block;
        color: white !important;
      }
    }
  }
}

// ------- NAV

.state-link-dirs {
  @extend .column;
  @extend .small-3;
  @extend .show-for-small-only;

  text-align: center;
  display: table !important;
  vertical-align: middle;

  .fa {
    transition: none;
    cursor: pointer;
    // vertical-align: bottom;
    font-size: 150%;
    // margin-top: 4px;
    color: orange;
    text-align: center;
    vertical-align: middle !important;
    height: 0px;
    display: table-cell;
  }
}

.state-link {
    @extend .column;
    @extend .small-2;
    @extend .medium-1;

    $thisTrans: #{all 0.3s cubic-bezier(.67,.18,.23,.77)};

    display: block;
    height: 80px;
    padding-top: 10px;
    border: none;
    color: none;
    position: relative;
    overflow: visible;
    transition: none;

    &.state-link--std:before {
        color: white;
        font-size: 21px;
        content: attr(ui-sref);
        text-transform: capitalize;
        text-align: center;
        position: absolute;
        width: 100%;
        top: -50px;
        left: 0;
        transition: #{$thisTrans};
    }

    $nav-color-a: #a5a5a5;
    $nav-color-b: #d4d4d4;

    $chev-h: 30px;
    $chev-w: 15px;

    &:after {
      content: '';
      width: 0px;
      display: block;
      border-left: $chev-w solid $nav-color-a;
      border-top: ($chev-h*2) solid transparent;
      border-bottom: ($chev-h*2) solid transparent;
      position: absolute;
      left:100%;
      top: 50%;
      transform: translateY(-50%);
      z-index: 999 !important;
    }

    background: $nav-color-a;
    &:nth-child(odd), {
      background: $nav-color-b;
      &:after { border-left-color: $nav-color-b; }
    }

    &--std:hover, &--std.selected {
        border: none !important;

        &:before {
            top: 13%;
            transition: #{$thisTrans};
        }

        &:after {
        }

        .icon {
            height: 50%;
            bottom: 7.5%;
        }
    }

    .icon {
        transition: $thisTrans;
        height: 80%;
        bottom: 15%;
        width: 100%;
        position: absolute;
        left: 0;
        text-align: center;

        img {
            height: 100%;
        }
    }


    padding-right: 0;
    padding-left: 20px;
}

#nav-start {
  border: none !important;
}

$nav-states: (
  ('home'     #f19529 #f6d761),
  ('planning' #e44529 #fff),
  ('cold'     #90c1e9 #fff),
  ('rain'     #c2ebff #8cbfd3),
  ('fog'      #2a505d #b4b4b4),
  ('snow'     #5a5a5a #fff),
  ('night'    #2a505d #dcdc96)
);

@each $state in $nav-states {
  #nav-#{nth($state,1)} { &:hover, &.selected {
    background: nth($state,2);
    .icon * { fill: nth($state,3); }
    &:after { border-left-color: nth($state,2)}
  } }
}

#social-panel {
  position: fixed;
  width: 250px;
  z-index: 999;
  height: 20px;
  bottom: 32px;
  left: 20px;
}
