/* ---------- ==========================================
    Utility string literals
*/

$placeholder: #{'::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder'};
$inputs: #{'input[type='text'], input[type='password'], input[type='date'], input[type='datetime'], input[type='datetime-local'], input[type='month'], input[type='week'], input[type='email'], input[type='number'], input[type='search'], input[type='tel'], input[type='time'], input[type='url'], input[type='color'], textarea'};
$headings: #{'h1,h2,h3,h4,h5'};

// Anims
$swift: #{"cubic-bezier(.55,0,.1,1)"};

/* ---------- ==========================================
    Utility classes
*/

.clearfix {
    *zoom: 1;

    &:before, &:after {
        content: ' ';
        display: table;
    }

    &:after {
        clear: both;
    }
}
