$drop-opacity: 0.3;
$drop-color: #14A5D9;
$bg-color: #CCC;
$drop-length: 100px;
$drop-width: 10px;
$stream-space: 80px;
$transition-duration: 0.85s;
$offset: -200px;

.weather-box {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;

  height: 40%;
  overflow: hidden;

  @media #{$medium-up} {
    height: 100%;
  }

  &, & * {
    pointer-events: none;
  }
}

.weather {
  transform: rotate(20deg);
}

@keyframes its-raining {
  0% { margin-top: $offset - ($drop-length * 4); }
  100% { margin-top: $offset; }
}

.cloud {
  animation: its-raining $transition-duration infinite linear;
  position: absolute;
  right: -500px;

  &:nth-child(2) {
    animation-duration: $transition-duration * 0.9;
    margin-left: (0.65 * $stream-space) - ($drop-width / 2);
  }
  &:nth-child(3) {
    animation-duration: $transition-duration * 1.4;
    margin-left: (1.5 * $stream-space) - ($drop-width / 2);
  }
}

.stream {
  display: inline-block;
  vertical-align: top;
  margin: 0px $stream-space;
}

.drop {
  position: relative;
  border-radius: 100px;
  background: $drop-color;
  opacity: $drop-opacity;
  width: $drop-width / 2;
  height: $drop-length / 2 ;
  margin-top: $drop-length / 2;

  @media #{$medium-up} {
    width: $drop-width;
    height: $drop-length;
    margin-top: $drop-length;
  }
}
