// ---------------------
// z-index registry
//
// 100 : Background elements
$z-bg: 100;
// 200 :
// 300 :
// 400 : Default, DOM-ordered
$z-index: 400;
// 500 :
// 600 :
// 700 : Fixed UI
$z-ui: 700;
// 800 :
// 900 : Tooltips
$z-hover: 900;

//----------------------

#document-nav {
    z-index: $z-ui;
    position: relative;
}