<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app='app' id='ng-app' xmlns:ng='http://angularjs.org' xmlns:og="http://opengraphprotocol.org/schema/" itemscope itemtype="http://schema.org/WebPage" class=" no-js lt-ie9 lt-ie8 lt-ie7" > <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app='app' id='ng-app' xmlns:ng='http://angularjs.org' xmlns:og="http://opengraphprotocol.org/schema/" itemscope itemtype="http://schema.org/WebPage" class=" no-js lt-ie9 lt-ie8" > <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app='app' id='ng-app' xmlns:ng='http://angularjs.org' xmlns:og="http://opengraphprotocol.org/schema/" itemscope itemtype="http://schema.org/WebPage" class=" no-js lt-ie9" > <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app='app' id='ng-app' xmlns:ng='http://angularjs.org' xmlns:og="http://opengraphprotocol.org/schema/" itemscope itemtype="http://schema.org/WebPage" class="ie9 moz no-js" > <!--<![endif]-->
<head>

    <!-- ********************************
    *
    *   Powered by cynicism and hayfever.
    *
    ********************************* -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>RAC - Driver's Guide for All Weather Conditions</title>
<!--
    <meta itemprop="name" content="A Driver's Guide to Preparing for All Weather Conditions" />
    <meta itemprop="description" name="description" content="Best advice for safely getting around this Winter, by the RAC."/>
    <meta itemprop="image" content="http://192.168.0.119:8888/rac/public/img/social.png" /> -->

    <!-- \ Twitter Card -->
    <meta name="twitter:title" content="A Driver's Guide to Preparing for All Weather Conditions">
    <meta name="twitter:image" content="http://boom-online.co.uk/playground/rac/public/img/social.png">
    <meta name="twitter:description" content="Best advice for safely getting around this Winter, by the RAC.">
    <meta name="twitter:site" content="@RAC"> <!-- @publisher_handle -->
    <meta name="twitter:creator" content="@RAC"> <!-- @author_handle -->

  <!-- \ Opengraph/Facebook -->
    <meta property="og:title" content="A Driver's Guide to Preparing for All Weather Conditions" />
    <meta property="og:site_name" content="The RAC Shop" />
    <meta property="og:description" content="Best advice for safely getting around this Winter, by the RAC." />
    <meta property="og:image" content="http://boom-online.co.uk/playground/rac/public/img/social.png" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://boom-online.co.uk/playground/rac/" />

<!-- Font Icon set: font awesome from BootstrapCDN
 --><link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<!-- CSS -->
    <link href='public/css/app.min.css' rel='stylesheet' type='text/css'>

<!-- JS -->
<!--[if lte IE 9]>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js'></script>
<![endif]-->
    <script src='public/js/libs.min.js'></script>
    <script src='public/js/app.min.js'></script>

<!-- Social sharing -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</head>
<body ng-controller='appController'>
<!-- ===============
BEGIN CONTENT VIEW
================ -->

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5459f23a18927637" async="async"></script>

<div id="social-panel">
<div>
  <div class="addthis_sharing_toolbox"></div>
</div>
</div>

<div id="wrapper">
<header id="document-head">
  <nav class="row" id="document-nav">
      <a href='#' class="state-link" id="nav-start"
      ng-click="selected = 'start'"
      ui-sref="start">
          <div class='icon'>
              <img src='public/img/icons/logo_icon.png'>
          </div>
      </a>
      <a href='#' ng-repeat="state in states track by $index"
        class="state-link state-link--std show-for-medium-up" id="nav-{{state}}"
        ng-click="$parent.selected = state"
        ng-class="$parent.selected == state ? 'selected' : 'deselected'"
        ui-sref="{{state}}">
          <div class='icon'>
              <img ng-src='public/img/icons/nav_{{state}}.svg' />
          </div>
      </a>
      <a ng-click='nav.prev()' class="state-link-dirs">
        <i class="fa fa-arrow-left" ng-show="nav.curr() != 'start'"></i>
        <i class="fa fa-arrow-left" style="opacity: 0;" ng-show="nav.curr() == 'start'"></i>
      </a>
      <a ng-click='nav.next()' class="state-link-dirs end">
        <i class="fa fa-arrow-right"></i>
      </a>
  </nav>
</header>

<main class="row">
  <div class="small-12" id="ui-view-container" slide-state>
      <div ui-view class="{{ $state.current.name }} {{ matrix.states[$state.current].classes }} state"></div>
  </div>
</main>
</div>

<!-- ===============
END CONTENT VIEW
================ -->

<div id="document-close"></div>

<footer id="document-foot">
  <div class='inner row'>
    <div class="copyright column small-12">RAC &copy; 2014</div>
  </div>
</footer>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-18165928-1', 'auto');
  ga('require', 'linkid', 'linkid.js');
  ga('send', 'pageview');
</script>
</body>
</html>
