<!-- ===========================================
|         /\
|   HOME |__|
|                                             -->
<div class="state__inner">
  <span ng-if="decentBrowser"  ng-include="'public/img/states/Scenes_home.svg'"></span>
  <img  ng-if="!decentBrowser" class="canvas" src="public/img/states/scene_home.png"></span>
  <div ng-if="!decentBrowser" class="canvas backup pops" ng-include="'public/img/popups/popups_home.svg'"></div>
  <h2 class="state__title">{{matrix.states[$state.current.name].title}}</h2>
  <ol class="small-tooltips">
    <li class='tt' ng-repeat='tt in matrix.states[$state.current.name].tips'>
      <h4 class="tt__title">{{tt.title}}</h4>
      <p class="tt__text" ng-if="tt.text">{{tt.text}}</p>
      <a class="cta-nav" ng-if="tt.goTo" ng-click="$state.go(tt.goTo)">Check out the list</a>
    </li>
  </ol>
</div>
