<div class='state__inner splashup'>

  <div class='splashup__item splashup__title'>

    <a ui-sref='home' class='closeBtn'>
      <span><i class='splashup__closebtn fa fa-times-circle'></i></span>
    </a>

    <div class='links rac-tip__links show-for-medium-up'>
      <a target="_blank" href='{{link.url}}' ng-repeat='link in tip.link'>
        <b>{{link.text}}</b><i class="fa fa-arrow-right"></i>
      </a>
    </div>

  </div>

  <div class='splashup__item' ng-repeat='item in tip.items'>
    <img class='splashup__item__img' ng-src='public/img/items/items_{{item[0]}}.svg' />
    <div class='splashup__item__name'>{{item[1]}}</div>
  </div>

  <h2 class="state__title">{{matrix.states[$state.current.name].title}}</h2>

  <ol class="small-tooltips">
    <li class='tt' ng-repeat='tt in matrix.states[$state.current.name].tips'>
      <h4 class="tt__title">{{tt.title}}</h4>
      <p class="tt__text">{{tt.text}}</p>
    </li>
  </ol>

</div>
