<!-- ===========================================
|   //////////
|   ///o[]o///   RAIN
|                                            -->
<div class="state__inner" ng-class="{scrollDown: scrolldown}">
  <span     ng-if="decentBrowser"  ng-include="'public/img/states/Scenes_rain.svg'"></span>
  <weather  ng-if="decentBrowser"  class="weather-box" weathertype='rain'></weather>
  <span     ng-if="decentBrowser"  ng-include="'public/img/states/Scenes_rain_cockpit.svg'"></span>
  <img      ng-if="!decentBrowser"  class="canvas" src="public/img/states/scene_rain.png"></span>
  <div     ng-if="!decentBrowser"  class="canvas backup pops" ng-include="'public/img/popups/popups_rain.svg'"></div>
<!-- <![endif]-->
  <h2 class="state__title">{{matrix.states[$state.current.name].title}}</h2>
  <ol class="small-tooltips">
    <li class='tt' ng-repeat='tt in matrix.states[$state.current.name].tips'>
      <h4 class="tt__title">{{tt.title}}</h4>
      <p class="tt__text">{{tt.text}}</p>
    </li>
  </ol>
</div>
