<!-- ===========================================
|
|   RAC: A Driver's Guide to Preparing For All Weather Conditions
|                                             -->
<div class="intro-intro">
<a ng-if='!decentBrowser' class='view-in-chrome' target='_blank' href='https://www.google.com/chrome/browser/'>
  <img class="splash-logo" src='public/img/icons/chrome-01.png' />
</a>
<img class="splash-logo" src='public/img/icons/logo_master.png' />
<h1>A Driver&#8217;s Guide to Preparing for All Weather Conditions</h1>
<span ng-click='nav.next()' class='cta-nav'>Get started <i class="fa fa-arrow-circle-right"></i></span>
